* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    /* spacing */
    --my: 15px;
    --mx: 200px;
    --gap: 15px;



    /* colors */
    --background: #eee;
    --primary: #ccc;
}

body {
    background-color: var(--background);
}

.nav-container {
    margin-top: var(--my);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: var(--my);
    background-color: #fff;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: calc(var(--gap) * 2);
}

.nav-search {
    position: relative;
    display: flex;
}

.nav-search input{
    background-color: var(--primary);
    padding: 10px 15px;
    color: #111;
    font-weight: 500;
    border-radius: 100vw;
    outline: none;
    border: none;
}

.nav-search input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

button.search-btn {
    position: absolute;
    left: calc(100%);
    transform: translateX(-100%);
    background-color: var(--primary);
    padding: 10px 15px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in;
    outline: none;
    border: none;
}

button.search-btn:hover,
button.search-btn:focus {
    background-color: #ceee;
}