* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    /* spacing */
    --my: 15px;
    --mx: 200px;
    --gap: 15px;



    /* colors */
    --background: #eee;
    --primary: #ccc;
}

.offscreen-menu.active {
    right: 0;
}

.hamburger.active {
    margin-left: auto;
}

.hamburger.active span:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #fff;
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:last-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #fff;
}

.image-wrapper {
    flex: 0 0 auto; 
    /* width: 18rem; */
    animation: fade-in 1s linear forwards;
}

img {
    animation: fade-in 1.8s linear forwards;
}













@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}














@media screen and (min-width: 1024px) {
    .image-wrapper {
        flex: 1;
    }
}












.image-container::-webkit-scrollbar {
    background-color: transparent;
}
.image-container::-webkit-scrollbar-track {
    background-color: transparent;
}
.image-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}




